#header {

    position: relative;

    top: -10px;

    background-color: #F38630;

    border-top-left-radius: 15px;

    border-top-right-radius: 15px;

    height: 60px;

}


h1 {

    font-family: Arial;

    color: #FFFFFF;

    text-align: center;

}


form {

    font-family: Verdana, Arial, sans-serif;

}


p {

    font-family: Verdana, Arial, sans-serif;

    display: inline-block;

}


input {

    font-family: Verdana, Arial, sans-serif;


}


textarea {

	vertical-align: top;

	width: 400px;

	color: #000000;

}


#wrapper {

    border-left: 1px solid #888;

    border-right: 1px solid #888;

    border-bottom: 1px solid #888;

    position: relative;

    top: -10px;

    padding-top: 10px;

    padding-left: 20px;

    padding-bottom: 20px;

    box-shadow: 3px 3px 3px #444;

    font-family: Verdana, Arial, sans-serif;

    font-size: 0.8em;

}


#inputs {

	width: 200px;

	clear: both;

}


#inputs input {

	width: 100%;

	clear: both;

}
span {
	color: red;
}
a {
float:left;
text-decoration:none;
color:white;
padding-right: 20px;
}
a:hover{
text-decoration:underline;
}
button {
border: 0;
background: linear-gradient(#768191, #535b65);
border-radius: 4px;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15), 0 5px 0 #404853;
color: #fff;
cursor: pointer;
font-weight: bold;
padding: 12px 20px;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
text-transform: uppercase;
transition: all .1s linear;
margin-left: 10px;
margin-top: 5px;
}
button:hover {
color: #d4d7da;
}
button:active {
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15), 0 2px 0 #404853;
transform: translateY(3px);
}
